@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 184 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 184 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 184 30% 10%;
    --primary: 184 68.83% 54.12%;
    --primary-foreground: 184 10% 98%;
    --secondary: 184 30% 96%;
    --secondary-foreground: 184 50% 30%;
    --muted: 184 20% 96%;
    --muted-foreground: 184 30% 50%;
    --accent: 184 40% 96%;
    --accent-foreground: 184 50% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 184 20% 88%;
    --input: 184 20% 88%;
    --ring: 184 68.83% 54.12%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 184 30% 5%;
    --foreground: 184 10% 90%;
    --card: 184 30% 7%;
    --card-foreground: 184 10% 90%;
    --popover: 184 30% 7%;
    --popover-foreground: 184 10% 90%;
    --primary: 184 60% 40%;
    --primary-foreground: 184 10% 98%;
    --secondary: 184 30% 15%;
    --secondary-foreground: 184 10% 90%;
    --muted: 184 20% 15%;
    --muted-foreground: 184 10% 60%;
    --accent: 184 30% 15%;
    --accent-foreground: 184 10% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 90%;
    --border: 184 30% 15%;
    --input: 184 30% 15%;
    --ring: 184 60% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
